<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="description" content="description">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="/plugins/xcharts/xcharts.min.css" rel="stylesheet">
    <link href="/plugins/select2/select2.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

</head>
<body>
<div class="container-fluid">
    <div id="page-login" class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            {{ form_start(loginForm) }}
            {{ include('DSAdminBundle:Partials:flashmessage.html.twig') }}
            <div class="error">{{ form_errors(loginForm) }}</div>
            {{ form_start(loginForm, {'attr': {'novalidate': 'novalidate' }}) }}
            <div class="box">
                <div class="box-content">
                    <div class="text-center">
                        <h3 class="page-header">Login Page</h3>
                    </div>
                    <div class="form-group">
                        <div class="error">{{ form_errors(loginForm.username) }}</div>
                        {{ form_label(loginForm.username) }}
                        {{ form_widget(loginForm.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(loginForm.password) }}
                        {{ form_label(loginForm.password) }}
                        {{ form_widget(loginForm.password) }}
                    </div>
                    <div class="text-center">
                        <button type="submit">Login</button>
                    </div>
                </div>
                {{ form_rest(loginForm) }}
                {{ form_end(loginForm) }}
            </div>
        </div>
    </div>
</div>
</body>
</html>