{# XPL_mod #}
<!DOCTYPE html>
{% set current_siteaccess = ezpublish.siteaccess.name %}
{% set current_language = siteaccess[current_siteaccess].locale %}
<html lang="{{ app.request.locale|split('_')[0] }}"
      prefix="hx: http://purl.org/NET/hinclude# og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    {% if location is not defined %}
        {% set location = null %}
    {% endif %}
    {% if location.pathString is defined %}
        {% set title %}{{ render( controller( "tutei:showComponent", { 'name':'Title', 'parameters':{'pathString': location.pathString } } ) ) }}{% endset %}
    {% elseif content is defined %}
        {% set title %}{{ content.contentInfo.name }} / (location ID is #{{ location.id }}){% endset %}
    {% elseif title is not defined %}
        {% set title %}{{ name|default( 'Home' ) }}{% endset %}
    {% endif %}


    {% block meta_title %}
        <title>{{ title }}</title>
    {% endblock %}
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_base %}
        {#
            <meta name="description" content="..." />
            <meta name="author" content="..." />

            <!-- Seems useless -->
            <meta name="keywords" content="..." />
            <!-- For google news, up to 10 keywords separeted by comma -->
            <meta name="news_keywords" content="..." />
            #}
    {% endblock %}
    {% block meta_og %}
        {#
            <meta content="..." property="og:title" />
            <meta content="..." property="og:description" />
            <meta content="..." property="og:site_name" />
            <meta content="..." property="og:url" />
            <meta content="..." property="og:type" />
            <meta content="..." property="og:image" />
            <meta property=”fb:admins” content=”USER_ID”/>
            #}
    {% endblock %}
    {% block meta_twitter %}
        {#
            <meta property=”twitter:card” content="..." />
            <meta property=”twitter:url” content="..." />
            <meta property=”twitter:title” content="..." />
            <meta property=”twitter:description” content="" />
            <meta property=”twitter:image” content="..." />
            #}
    {% endblock %}
    {% block meta_author_link %}
        {#
            <link rel="author" href="..."/>
            #}
    {% endblock %}
    {% block meta_link_canonical %}
        {#
            <link rel="canonical" href="..."/>
            #}
    {% endblock %}
    {% block meta_link_next_prev %}
        {#
            <link rel='prev' href='http://yoast.com/cat/seo/' />
            <link rel='next' href='http://yoast.com/cat/seo/page/3/' />
            #}
    {% endblock %}


    {% image '@TuteiBaseBundle/Resources/public/images/favoicon.ico' %}
    <link rel="shortcut icon" type="image/png" href="{{ asset_url }}"/>
    {% endimage %}

    {# CSS used in all pages #}
    {% include 'TuteiBaseBundle::parts/page_head_style.html.twig' %}
    {# Extend this block to include unique necessary css #}
    {% block page_head_style %}{% endblock %}

    {% stylesheets
    "@TuteiBaseBundle/Resources/public/css/print.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="print"/>
    {% endstylesheets %}

    {# Scripts used in all pages #}
    {% include 'TuteiBaseBundle::parts/page_head_script.html.twig' %}
    {# Extend this block to include unique necessary scripts #}
    {% block page_head_script %}{% endblock %}

    {% include 'TuteiBaseBundle::parts/html5shiv_script.html.twig' %}

</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage"
      ng-app="xsmtpdk">{# The ngApp directive designates the root element of the application and is typically placed near the root element of the page - e.g. on the <body> or <html> tags. #}
{# URL translator example #}
{#
{% set current_siteaccess = ezpublish.siteaccess.name %}
{% set current_language = siteaccess[current_siteaccess].locale %}
{{ render(controller('xsmtpdk_controller:urltranslator', { 'url' : '/Priser', 'language' : current_language })) }}
#}
<!-- header -->
{% block page_header %}

    {# global dumplings #}
    {#
    {{ dump(ezpublish.systemUriString) }}
    {{ dump(ezpublish.requestedUriString) }}
    {{ dump(ezpublish.siteaccess) }}
    {{ dump(ezpublish.rootLocation) }}

    {{ dump(ezpublish.siteaccess.matcher.request.port) }}
    #}

    <div class="container" style="height: 140px;">
        <div style="background:#FFF; height:100%">
            <div class="row header">
                {# Define the image path based on the request locale #}
                {% set logo_image_asset_url = asset('bundles/tuteibase/images/logo_' ~ current_language ~ '.png') %}
                <div class="col-lg-4 logo">
                    {% if app.request.pathInfo is defined and app.request.pathInfo == '/' %}
                        <h1 id="banner-desc" class="col-sm-6 company-logo navbar-brand"><a href="/" accesskey="1"><img
                                        alt="Tutei Base" src="{{ logo_image_asset_url }}"/><span class="sr-only"> (access key = 1)</span></a>
                        </h1>
                    {% else %}
                        <p id="banner-desc" class="col-sm-6 company-logo navbar-brand"><a href="/" accesskey="1"><img
                                        alt="Tutei Base" src="{{ logo_image_asset_url }}"/><span class="sr-only"> (access key = 1)</span></a>
                        </p>
                    {% endif %}
                </div>
                <div class="col-lg-8 ">
                    <div class="row lang-switch">

                        <ul class="list-inline pull-right" ng-controller="LegacyCtrl"> {# legacy login controller #}
                            {{ render( controller( "tutei:showComponent", { 'name': 'UserMenu' } ) ) }}
                            {% if ezpublish.siteaccess.matcher %}
                                {# Also add the TCP port if ezpublish.siteaccess.matcher.request.port is different than 443 #}
                                <li>
                                    <a href="https://{{ siteaccess['site_dk']['xpl_uri'] }}{% if ezpublish.siteaccess.matcher.request.port != 443 %}:{{ ezpublish.siteaccess.matcher.request.port }}{% endif %}{{ ezpublish.requestedUriString }}">DK</a>
                                </li>
                                <li>
                                    <a href="https://{{ siteaccess['site']['xpl_uri'] }}{% if ezpublish.siteaccess.matcher.request.port != 443 %}:{{ ezpublish.siteaccess.matcher.request.port }}{% endif %}{{ ezpublish.requestedUriString }}">EN</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="">
                        <!-- Static navbar -->
                        <!--<div class="navbar navbar-right navbar-static-top xpl-menubar" role="navigation">-->
                        <nav>
                            <div class="xpl-menubar" role="navigation">
                                <div class="container navigation pull-right" style="padding: 0; margin-right: 13px;">
                                    <div class="navbar-header">¬
                                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                data-target=".navbar-collapse"><span
                                                    class="sr-only">Toggle navigation</span> <span
                                                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                                                    class="icon-bar"></span></button>
                                    </div>
                                    <!--<div class="navbar-collapse collapse ">-->

                                    {% set path_string = '' %}
                                    {% if location.pathString is defined %}
                                        {% set path_string = location.pathString %}
                                    {% endif %}
                                    <ul class="nav navbar-nav navbar-right top-menu-items"> {# XPL_PATCH top-menu-items class must be here, to activate submenu hover #}
                                        {{ render( controller( "tutei:showComponent", { 'name': 'TopMenu','parameters' : {'pathString': path_string } } ) ) }}

                                    </ul>

                                    <!--</div>--><!--/.nav-collapse -->

                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>

{% endblock %}
<div> {% if location.pathString is defined %}
        {{ render( controller( "tutei:showComponent", { 'name' : 'Banners','parameters' : {'pathString': location.pathString } } ) ) }}
    {% endif %} </div>
{# Simple Banner begin #}
<div class="row"> {% if location.pathString is defined %}
        {{ render( controller( "tutei:showComponent", { 'name' : 'SimpleBanner','parameters' : {'pathString': location.pathString } } ) ) }}
    {% endif %} </div>
{# Simple Banner end #}

<div class="container">
    <!--<div class="boxes">-->
    <div>
        {% if location.pathString is defined %}

            {{ render( controller( "tutei:showComponent", {'name':'Blocks', 'parameters': { 'pathString': location.pathString } } ) ) }}

        {% endif %}
    </div>
</div>
{% set enable_side_menu = false %}
{% if show_side_menu
and content is defined
and content.contentInfo.contentTypeId not in hide_side_menu_type_id_array
and location.pathString is defined
and location.pathString|split('/')[3] != '' %}

    {% set enable_side_menu = true %}
{% endif %}



{% if enable_side_menu %}

    <div class="col-md-3"> {{ render( controller( "tutei:showComponent", { 'name':'SideMenu',
            'parameters': { 'pathString': location.pathString } } ) ) }}
        {{ render( controller( "tutei:showComponent",
        { 'name':'ExtraInfo',
            'parameters': { 'pathString': location.pathString } } ) ) }} </div>
{% endif %}
<div class="container">
    <main role="main" id="content" class="col-md-{% if enable_side_menu %}9{% else %}12{% endif %}"
          tabindex="-1"> {% block breadcrumb %}

            {% if location.pathString is defined
            and location.pathString|split('/')[3] != '' %}

                {{ render( controller( "tutei:showComponent",
                { 'name':'Breadcrumb',
                    'parameters': { 'pathString': location.pathString } } ) ) }}
            {% endif %}

        {% endblock %}

        {% block content %}{% endblock %} </main>
    {# {{ dump(location.ContentInfo.name) }} #}
    {# XPL_PATCH render the mremi contact controller on specific name #}
    {#
    {% if location.ContentInfo.name == "Kontakt" %}
	{{ render( controller( "mremi_contact.contact_controller:indexAction") ) }}
    {% endif %}
    #}

</div>
{{ render( controller( "tutei:showComponent", {'name':'Modal', 'parameters': { 'pathString': location.pathString } } ) ) }}
<!-- /container -->

{% include 'TuteiBaseBundle::snapengage.html.twig' %}
{{ render( controller( "tutei:showComponent", {'name':'Footer', 'parameters': {  } } ) ) }}
{#{% include 'TuteiBaseBundle::parts/footer.html.twig' %}#}

{# Scripts used in all pages #}
{% include 'TuteiBaseBundle::parts/footer_script.html.twig' %}
{# Extend this block to include unique necessary scripts #}
{% block footer_script %}{% endblock %}

{% include 'TuteiBaseBundle::parts/google_analytics.html.twig' %}
</body>
</html>