{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="text-center alert-error">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}