{# XPL_mod #}

{% for list in blocks %}

    {% set columns = ez_field_value(list.content.valueObject, 'columns').value %}
    {% set column_width = 12 // columns %}
    {% set section_id = ez_field_value(list.content.valueObject, 'section_id').text %}
    {% set block_custom_style = ez_field_value(list.content.valueObject, 'block_custom_style').text %}
    {% set block_custom_class = ez_field_value(list.content.valueObject, 'block_custom_class').text %}
    {% set block_cs_class = ez_field_value(list.content.valueObject, 'block_cs_class').text %}

    <div style="{{ block_custom_style }}" class="bbb {{ block_custom_class }}">
        <div id="{{ section_id }}">
            {# XPL_PATCH when manually added, they appear in reverse, after contentobject import, they appear normally #}
            {# {% for item in list.children.searchHits|reverse %} #}
            {% for item in list.children.searchHits %}

                {% if not ez_is_field_empty( item.valueObject, 'raw_code' ) %}
                    {% set raw_code = ez_field_value(item.valueObject, 'raw_code').text|raw %}
                {% else %}
                    {% set raw_code = '' %}
                {% endif %}

                {% if not ez_is_field_empty( item.valueObject, 'custom_class' ) %}
                    {% set custom_class = ez_field_value(item.valueObject,'custom_class').text %}
                {% else %}
                    {% set custom_class = '' %}
                {% endif %}
                {% if not ez_is_field_empty( item.valueObject, 'custom_style' ) %}
                    {% set custom_style = ez_field_value(item.valueObject,'custom_style').text %}
                {% else %}
                    {% set custom_style = '' %}
                {% endif %}

                {% if not ez_is_field_empty( item.valueObject, 'custom_id' ) %}
                    {% set custom_id = ez_field_value(item.valueObject,'custom_id').text %}
                {% else %}
                    {% set custom_id = '' %}
                {% endif %}

                {% set startRow = ez_field_value(item.valueObject,'start_row_div').bool %}
                {% set closeRow = ez_field_value(item.valueObject,'close_row_div').bool %}
                {% if not ez_is_field_empty( item.valueObject, 'width_divider' ) %}
                    {% set width_divider = ez_field_value(item.valueObject,'width_divider').text %}
                {% else %}
                    {% set width_divider = '1' %}
                {% endif %}
                {% set clearBoth = ez_field_value(item.valueObject,'clear_both').bool %}




                {% set custom_column_width = 12 // width_divider %}

                {% if loop.index0 > 0 and loop.index0 % columns == 0 %}



                    {% if startRow %}<div class="row">{% endif %}

                {% endif %}

                <div id="{{ custom_id }}" class="col-lg-{{ custom_column_width }} {{ custom_class }}"
                     style="{{ custom_style }}">
                    {% if custom_id == "render-contact" %}
                        {{ render( controller( "mremi_contact.contact_controller:indexAction") ) }}
                    {% elseif custom_id == "render-orderwizard" %}
                        {% include "TuteiBaseBundle::orderWizard.html.twig" %}
                    {% elseif custom_id == "render-orderwizard-old" %}
                        {% include "TuteiBaseBundle::orderWizard_old.html.twig" %}
                    {% elseif custom_id == "render-priser" %}
                        {% include "TuteiBaseBundle::priser.html.twig" %}
                    {% else %}
                        {{ render(
                        controller(
                        'ez_content:viewLocation',
                        {
                            'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                            'viewType': 'block',
                            'params':{'relation_list':relation_list}
                        }
                        )
                        ) }}
                        {{ raw_code|raw }}
                    {% endif %}

                </div>
                {% if closeRow %} </div> <!--inchid row--> {% endif %}
                {% if clearBoth %}
                    <div style="clear:both"></div> {% endif %}

            {% endfor %}
        </div>
    </div>

{% endfor %}
